<!-- views/partials/header.ejs -->
<div class="container-fluid"> 
    <nav class="navbar navbar-inverse navbar-expand-md" role="navigation">
        <div class="navbar-header" style="padding:.5em">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand fa fa-gift navbar-left" href="/"> Gift Exchange With Your New Family</a></li>
            </ul>
            <ul class="nav navbar-nav " style="padding-right: 2em;">
                <li><a href="/" class="fa fa-home" style="float:right; padding: .3em"> Home</a></li>
                <li><a href="/login" class="fa fa-sign-in" style="float:right; padding: .3em"> Login</a></li>
                <li><a href="/logout" class="fa fa-sign-out" style="float:right; padding: .3em"> Logout</a></li>
            </ul>
        </div>   
    </nav>
</div>

    
