<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-expand-md" role="navigation">
    <div class="container-fluid">      
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand fa fa-gift navbar-left" href="/"> Gift Exchange With Your New Family</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li></li>  
                <li><a href="/" class="fa fa-home"> Home</a></li>
                <li><a href="/login" class="fa fa-sign-in"> Login</a></li>
                <li><a href="/logout" class="fa fa-sign-out"> Logout</a></li>
            </ul>
        </div>   
    </div>
</nav>
    
