<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="">
            <ul class="nav navbar-nav navbar-center" style="text-align: center" >
                <li style="float: none; display: inline-block"><a href="/" class="fa fa-home" > Home</a></li>
                <li style="float: none; display: inline-block"><a href="/login" class="fa fa-sign-in" > Login</a></li>
                <li style="float: none; display: inline-block"><a href="/logout" class="fa fa-sign-out" > Logout</a></li>
            </ul>
        </div>
    </div>
</div>

    
